.job_button {
    display: block;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin: 5px 40px 0 40px;
    font-size: 20px;
    color: white;
    font-family: 'SF Light';
}

.job_button:hover {
    background: #015bbb;
    cursor: pointer;
}